* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    border: 2px solid black;
    border-top: none;
    grid-row: 1/2;
    margin-right: -1.7px;
}

ul li {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

ul li:not(:last-child) {
    border-bottom: 2px solid black;
}

.evaluation-container {
    margin: 50px auto;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rating-shit {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(18, 40px);
}

.rating {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-bottom: none;
    border-right: none;
}

.rating-shit {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.rating-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.rating-numbers {
    border-right: none;
    /* border-bottom: none; */
}

.rating-numbers span {
    grid-column: 1/2;
    text-align: center;
}

.four {
    grid-column: 2/3;
}

.three {
    grid-column: 3/4;
}

.two {
    grid-column: 4/5;
}

.one {
    grid-column: 5/6;
}

.descriptions {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid black;
    border-right: none;
}

.legend {
    margin: 0 auto;
    width: 600px;
    padding: 10px;
}

legend {
    font-weight: 600;
}


fieldset {
    padding: 40px;
}

.gagotalaga {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-column: 2/3;
    grid-row: 4/5;
}

.radiogaga {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
    margin-top: -1.6px
}

.pota1,
.pota2,
.pota3,
.pota4,
.pota5 {
    grid-row: 4/5;
}

.pota2 {
    grid-column: 2/3;
}

.pota6,
.pota7,
.pota8,
.pota9,
.pota10 {
    grid-row: 5/6;
}

.pota11,
.pota12,
.pota13,
.pota14,
.pota15 {
    grid-row: 6/7;
    border-bottom: 2px solid black;
}

.pota16,
.pota17,
.pota18,
.pota19,
.pota20 {
    grid-row: 8/9;
}

.pota21,
.pota22,
.pota23,
.pota24,
.pota25 {
    grid-row: 9/10;
}

.pota26,
.pota27,
.pota28,
.pota29,
.pota30 {
    grid-row: 10/11;
    border-bottom: 2px solid black;
}

.pota31,
.pota32,
.pota33,
.pota34,
.pota35 {
    grid-row: 12/13;
}

.pota36,
.pota37,
.pota38,
.pota39,
.pota40 {
    grid-row: 13/14;
}

.pota41,
.pota42,
.pota43,
.pota44,
.pota45 {
    grid-row: 14/15;
    border-bottom: 2px solid black;
}

.pota46,
.pota47,
.pota48,
.pota49,
.pota50 {
    grid-row: 15/16;
}

.pota51,
.pota52,
.pota53,
.pota54,
.pota55 {
    grid-row: 17/18;
}

.pota56,
.pota57,
.pota58,
.pota59,
.pota60 {
    grid-row: 18/19;
}


input[type='radio'] {
    width: 13px;
    height: 13px;
}