:root {
    --primary-color: #800000;
    --text-color: #fff;
    --font-family: 'Overpass', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

/* Loader */
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .loader_image {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader .loader_image .logo_back {
    height: 8rem;
    animation: loading 5s ease infinite;
    animation-duration: 5s;
    position: relative;
}

.loader .loader_image .logo_front {
    height: 8rem;
    position: absolute;
}

.loader .loader_text {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.loader .loader_text h3 {
    font-weight: bolder;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.card-header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header img {
    width: 8rem;
}

.home-body {
    background-color: #ff8e8e;
}

/* header */
.loader h3 {
    font-weight: bolder;
}

.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .logo_back {
    height: 7rem;
    animation: loading 5s ease infinite;
    animation-duration: 5s;
}

.loader .logo_front {
    height: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.google_button {
    text-align: center
}

.nav-header {
    background-color: var(--primary-color);
    text-transform: uppercase;
    padding: .6rem;
}

.nav-header a,
.footer a {
    text-decoration: none;
    color: var(--text-color);
}

.header span {
    font-size: .85rem;
    font-weight: 300;
    text-transform: uppercase;
}

.nav_header-link {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    margin-left: 20px;
}

/* header */

/*login*/

.login_container {
    background-color: var(--primary-color);
    max-width: 26rem;
    height: 31rem;
    margin: 90px auto;
    border-radius: 10px;
    position: relative;
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.btn-between {
    text-align: center;
    font-size: 11.3px;
    margin: 12px 0;
    position: relative;
}

form .field_input:nth-of-type(3) {
    margin-bottom: 0;
}

.h-form img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.h-form h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 55px 0 30px;
}

.field_input label {
    display: block;
    font-size: .85rem;
}

::-ms-reveal {
    display: none;
}


.field_input input:not(#id_picture, .flex_field_input) {
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    border-bottom: 1px solid #fff;
    width: 18rem;
    padding: 4px 0;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 15px;
    position: relative;
}

.button_login {
    background-color: #c82f2f88;
    text-transform: uppercase;
    transition: 0.3s;
    color: white;
    padding: 0.6rem;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: .9rem;
}

.button_login:hover {
    background-color: white;
    /* transition:#e7343488 2s; */
    color: black;
}

.button_google {
    background-color: white;
    transition: 0.3s;
    outline: none;
    border: none;
    padding: .45rem 1.2rem;
    margin: 0 auto;
    color: black;
    font-size: .87rem;
    border-radius: 20px;
}

.button_google:hover {
    background-color: #c82f2f88;
    color: white;
}

.custom-btn img {
    margin-right: 10px;
}

.bottom-message {
    font-size: .75rem;
    font-weight: 200;
    text-align: center;
    margin-top: 18px;
}

.bottom-message a {
    font-weight: 500;
    color: white;
}

.forgot_link {
    margin-bottom: 20px;
}

.forgot_link a {
    font-size: .7rem;
    color: white;
}

.btn-between::before {
    content: '';
    height: 1px;
    background: white;
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    margin: auto 0;
    width: 30%;
}

.btn-between::after {
    content: '';
    height: 1px;
    background: white;
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    margin: auto 0;
    width: 30%;
}

/*login*/

/* signup */

.signup-container {
    background-color: var(--primary-color);
    margin: 40px auto;
    width: 27rem;
    height: 37rem;
}

.form-header-signup {
    text-align: center;
    text-transform: uppercase;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupform {
    display: flex;
    gap: 20px;
}

.form-header-signup h3 {
    margin: 34px 0 22px;
}

.flex-field {
    display: flex;
    justify-content: space-between;
}

.flex_field_input {
    width: 8.5rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: white;
    padding: 4px 0;
}

.button-signup {
    background-color: #c82f2f88;
    text-transform: uppercase;
    padding: 0.6rem;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.9rem;
}

/* signup */

/* footer */

footer {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: .75rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a:hover,
.bottom-message a:hover {
    border-bottom: 1px solid #fff;
}

/* footer */

/*register*/
.register-container {
    height: 690px;
    width: 640px;
    margin: 30px auto;
    background-color: #830001;
    border-radius: 20px;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.25);
}

.register-wrapper {
    margin-left: 20px;
}

.register-items h3 {
    text-align: center;
}

.register-items .input-width {
    height: 30px;
    width: 600px;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

.register-items .name-width {
    height: 30px;
    width: 295px;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

.password-width {
    height: 30px;
    width: 295px;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

.preview_container {
    width: 500px;
    min-height: 100px;
    margin-left: 20px;
    /*   border: 2px solid;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.preview_images {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}



/*admin*/
.sidenav-container {
    position: fixed;
    max-width: 250px;
    height: 100vh;
    background-color: #800000;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    gap: 10px;
    margin-top: 10px;
}

.sidenav-header::after {
    content: '';
    height: 1px;
    display: block;
    width: 42%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.234), rgba(255, 255, 255, 0.568), rgba(255, 255, 255, 0.233));
}

.sidenav-logo {
    width: 46px;
    height: 46px;
}

.sidenav__header {
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.sidenav__sub_header {
    font-size: 11px;
    color: white;
}

/* override from tables.scss */
.table td,
.table th,
.table thead th {
    vertical-align: middle;
}

.table td {
    font-size: .9rem;
}

/* override from tables.scss */

.icon p {
    margin-bottom: 0;
}

.sidenav-items {
    list-style-type: none;
    margin-top: 55px;
}

.icon-buttons {
    display: flex;
}

.sidenav-items li {
    margin-bottom: 30px;
}

.sidenav-items li:last-child {
    margin-bottom: 0;
}

.sidenav-links:hover {
    background-color: #8d1a1a;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.sidenav-links {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13.6px;
    font-weight: 300;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #b726267c;
    height: 12%;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 1;
}

.name {
    inline-size: 70px;
    white-space: nowrap;
    font-size: 1rem;
}

.profile .role {
    font-size: 10.8px;
    margin-top: 5px;
    opacity: 0.7;
}

.profile-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.logout {
    width: 40px;
    height: 40px;
    display: inline;
    color: white;
    /* overrides the inline-block from material icons */
}

.text-flex {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.text-flex span {
    color: white;
    font-size: .85rem;
}

.management-header {
    background-image: linear-gradient(#FF9090, #FF0D0D);
    border-radius: 20px 20px 0 0;
    position: fixed;
    height: 70px;
    width: 82%;
}

.management-content {
    margin-left: 17%;
    width: 82%;
    height: 100%;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

.management-content h1 {
    padding: 1.1rem 0 0 10px;
}

.management-header h1 {
    margin: 10px 10px;
}

.management-header h1 i {
    color: #830001;
    border-radius: 50%;
    background-color: white;
}

.management-body {
    position: relative;
    width: 100%;
}

.Modal-Schedule {
    color: black;
    width: 82%;
    margin-top: 10px;
}

.book-details {
    color: black;
    margin-top: 10px;
    margin-left: 17%;
    width: 82%;
    height: 98%;
    position: fixed;
    background-color: white;
    border-radius: 20px;
}

.book-body {
    margin-top: 100px;
    margin-left: 10px;
}

.title-width {
    height: 30px;
    width: 500px;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

/*Book Create*/
.add-header {
    color: black;
    position: relative;
    /* height: 70px;*/
    /*width: 82%;*/
    margin: 20px 0px 0px 20px;
}

.add-body {
    color: black;
    position: relative;
    width: 100%;
    /* margin: 60px 10px;*/
}

#multi-step-form-container {
    margin-top: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}

.mt-3 {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
    margin: 0 2rem 0 2rem;
}

.font-normal {
    font-weight: normal;
}

.form-padding-top {
    padding-top: 10px;
    padding-bottom: 100px;
}

ul.form-stepper {
    counter-reset: section;
    /* margin-bottom: 3rem; */
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}

.dashboard_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 50px;
    padding: 1rem;
    margin-left: 250px;
}

.dashboard_container h3 {
    color: #800000;
    transition: transform .2s;
}

.dashboard_container h3:hover {
    color: #800000;
    transform: scale(1.05);
}

.material-symbols-outlined {
    font-size: 45px;
    padding: .5rem;
    border-radius: 50%;
}

.dashboard_header {
    margin-left: 250px;
    text-align: center;
}

.dashboard_hr {
    border: solid #800000;
}

.dashboard_header .overview {
    font-weight: bold;
    padding: 30px 0;
}

.customize-button {
    margin-top: 40px;
}

.customize-button a {
    border-radius: 29px;
    color: white;
    background: blue;
    padding: .5rem 3rem;
    width: 400px;
    text-align: center;
    margin-left: 750px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
}

.dash-item {
    background: white;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-bottom: 4px solid #ff0000;
}

.dash-item p {
    font-size: 2.9rem;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
}

.table-section {
    margin: 200px auto;
}

.table-section2 {
    margin: 80px auto;
}

.tab-container {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-plus {
    margin-right: 20px;
}

.next-returned {
    position: absolute;
    right: 15px;
    padding: .9rem 0;
}

.previous-returned {
    position: absolute;
    left: 15px;
    padding: .9rem 0;
}

.returned,
.previous {
    display: flex;
    align-items: center;
}

.returned:hover,
.previous:hover {
    text-decoration: none;
}

.management-content .history-log-header {
    padding: 20px 0;
    margin: 0;
}

.span1 {
    position: absolute;
    right: 150px;
    top: 15px;
}

.returned_books {
    position: absolute;
    right: 100px;
    top: -5px;
    display: flex;
    align-items: center;
}

.span2 {
    position: absolute;
    left: 150px;
    /* top: -20px; */
    top: 15px;
}

.borroweed_books {
    position: absolute;
    left: 100px;
    top: -5px;
    display: flex;
    align-items: center;
}

.formControlRoot {
    display: "flex";
    align-items: "center";
    gap: "8px";
    width: "300px";
    flex-wrap: "wrap";
    flex-direction: "row";
    border: '2px solid lightgray';
    padding: 4;
    border-radius: '4px';
}

.formControlRoot .container {
    gap: "6px";
    display: "flex";
    flex-direction: "row";
    flex-wrap: "wrap";
}

.formControlRoot .container span {
    background-color: "gray";
    padding: "1px 3px";
    border-radius: "4px";
}

.board {
    text-align: center;
}

/* .board .leaderboard{
    margin-bottom: 1em;
} */

.active {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.profile-leaderboards .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    /* margin-bottom: 2em; */
}

.profile-leaderboards .flex .item {
    display: flex;
    align-items: center;
}

.profile-leaderboards-img {
    width: 80px;
    min-height: 80px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.profile-leaderboards .flex img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-leaderboards .flex .info {
    padding: 1em;
}

.text-dark {
    color: var(--color-dark);
    font-size: medium;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.endterm {
    position: relative;
    left: 45%;
    margin-top: 30px;
}

.reason {
    font-weight: 900;
    color: red;
}

/* .accessionButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

/* STUDENT EVALUATION  */


.evaluation-ul {
    list-style-type: none;
    border: 2px solid black;
    border-top: none;
    grid-row: 1/2;
    margin-right: -1.7px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.evaluation-ul li {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.evaluation-ul li:not(:last-child) {
    border-bottom: 2px solid black;
}

.evaluation-container {
    margin: 50px auto;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rating-shit {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(18, 40px);
}

.rating {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-bottom: 0;
}

.rating-shit {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.rating-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    line-height: normal;
}

.rating-numbers {
    border-right: none;
    /* border-bottom: none; */
}

.rating-numbers span {
    grid-column: 1/2;
    text-align: center;
}

.five {
    grid-column: 1/2;
    border-left: none;
}

.four {
    grid-column: 2/3;
}

.three {
    grid-column: 3/4;
}

.two {
    grid-column: 4/5;
}

.one {
    grid-column: 5/6;
}

.descriptions {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid black;
    /* border-right: none; */
}

.gagotalaga {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-column: 2/3;
    grid-row: 4/5;
}

.radiogaga {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    margin-top: -1.6px
}

.radiogaga li:last-child {
    border-right: none;
}

.pota1,
.pota2,
.pota3,
.pota4,
.pota5 {
    grid-row: 4/5;
}

.pota2 {
    grid-column: 2/3;
}

.pota6,
.pota7,
.pota8,
.pota9,
.pota10 {
    grid-row: 5/6;
}

.pota11,
.pota12,
.pota13,
.pota14,
.pota15 {
    grid-row: 6/7;
    border-bottom: 2px solid black;
}

.pota16,
.pota17,
.pota18,
.pota19,
.pota20 {
    grid-row: 8/9;
}

.pota21,
.pota22,
.pota23,
.pota24,
.pota25 {
    grid-row: 9/10;
}

.pota26,
.pota27,
.pota28,
.pota29,
.pota30 {
    grid-row: 10/11;
    border-bottom: 2px solid black;
}

.pota31,
.pota32,
.pota33,
.pota34,
.pota35 {
    grid-row: 12/13;
}

.pota36,
.pota37,
.pota38,
.pota39,
.pota40 {
    grid-row: 13/14;
}

.pota41,
.pota42,
.pota43,
.pota44,
.pota45 {
    grid-row: 14/15;
}

.pota46,
.pota47,
.pota48,
.pota49,
.pota50 {
    grid-row: 15/16;
    border-bottom: 2px solid black;
}

.pota51,
.pota52,
.pota53,
.pota54,
.pota55 {
    grid-row: 17/18;
}

.pota56,
.pota57,
.pota58,
.pota59,
.pota60 {
    grid-row: 18/19;
}

.pota5,
.pota10,
.pota15,
.pota20,
.pota25,
.pota30,
.pota35,
.pota40,
.pota45,
.pota50,
.pota55,
.pota60 {
    border-right: none;
}


input[type='radio'] {
    width: 13px;
    height: 13px;
}

.evaluation_btn {
    float: right;
}


/* END STUDENT EVALUATION  */