:root {
    --primary-color: #800000;
    --text-color: #fff;
    --font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    line-height: normal;
    font-family: var(--font-family);
}

/* overriding default css element in boostrap */

p,
h1,
ul {
    margin: 0;
}

h3 {
    font-size: 17px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: var(--font-family);
}

.btn.disabled {
    opacity: 1;
}

/* end overriding default css element in boostrap */

.card-header img {
    width: 8rem;
}

/* header */
.loader h3 {
    font-weight: bolder;
}

.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .logo_back {
    height: 7rem;
    animation: loading 5s ease infinite;
    animation-duration: 5s;
}

.loader .logo_front {
    height: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


.google_button {
    text-align: center
}

/* nav header */

nav {
    background-color: var(--primary-color);
    width: 100%;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13.5px;
}

.nav-header a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
}

.highlight-button {
    border-radius: 6px;
    padding: 8px 18px;
    margin-right: 30px;
    border: 2px solid white;
    background: none;
    text-transform: uppercase;
}

nav .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* end nav header */

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr auto auto;
}

nav,
.main,
.our-team,
.faq-section,
footer {
    grid-column: 1 / -1;
}

/* main */

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 90vh;
    place-items: center;

}

.grid1 .mobile img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid1 h3 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 305px;
    background-color: #800000;
    border-radius: 50px;
    padding: 15px;
    color: var(--text-color);
}

.grid1 {
    background-color: steelblue;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
}

.grid2 {
    position: relative;
    margin-left: 50px;
}

.grid1 h2 {
    position: absolute;
    font-size: 1.2rem;
    bottom: 300px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.grid2 .login-container {
    color: var(--text-color);
    background-color: var(--primary-color);
    min-height: 520px;
    width: 405px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid2 .login-container form {
    margin-top: 50px;
    width: 75%;
}

.grid2 .login-container form label:nth-of-type(2) {
    margin-top: 15px;
}

.grid2 .login-container form h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 1.7rem;
}

.grid2 .login-container form input {
    border: none;
    outline: none;
    background: #800000;
    border-bottom: 1px solid white;
    caret-color: var(--text-color);
    color: var(--text-color);
    padding: .15rem 0;
    width: 100%;
    font-size: .9rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 300;
}

.grid2 .login-container form input::-ms-reveal {
    display: none;
}

.grid2 .login-container form label {
    display: block;
    font-size: 14.5px;
}

.grid2 .login-container img:not(.google-button-img) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.centered-button {
    text-align: center;
}

.login-button {
    text-decoration: none;
    color: var(--text-color);
    padding: .55rem 0;
    background-color: #c7232b88;
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 12px;
    width: 100%;
    border: none;
}

.forgot-button {
    color: var(--text-color);
    text-decoration: none;
    font-size: .75rem;
}

.google-button {
    background-color: white;
    border-radius: 20px;
    padding: .55rem 0;
    text-decoration: none;
    color: black;
    margin-top: 12px;
    border: none;
    width: 100%;
}

.login-button:focus,
.google-button:focus {
    outline: none;
}

.google-button-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.message {
    font-size: .75rem;
    opacity: .8;
}

/* end main */

/* our team */

.our-team {
    min-height: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-team h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}

.card-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.our-team .card-items .card-team {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
    height: 340px;
    border-radius: 4px 4px 0 0;
}

.card-items .card-team img {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}

.card__label {
    position: absolute;
    left: 0;
    top: 16px;
    padding: .4rem .8rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-weight: 400;
}

.card__content {
    padding: 2rem;
}

.card-team .card__content .user p:first-child {
    text-align: center;
    font-size: 1rem;
}

.quote {
    padding: 10px 0;
    text-align: center;
    font-size: .9rem;
}

/* end our team */

/* FREQUENTLY ASKED QUESTIONS */

.faq-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.faq-section .container {
    height: 300px;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.faq-header {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
}

.accordion {
    margin: 0 auto;
    margin-right: 10px;
}

.accordion .card {
    background-color: transparent;
    border: none;
    font-size: .9rem;
    margin-bottom: 15px;
}

.accordion .card:last-child {
    margin-bottom: 0;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
    color: black;
}

.accordion .card .card-header button {
    color: black;
    display: flex;
    justify-content: space-between;
}

.accordion .card .card-header button i {
    font-size: 15px;
}

.accordion .card .card-header {
    padding: .5rem;
    background-color: #eee;
}

.btn-faq {
    font-size: .85rem;
}

.faq-section .container::-webkit-scrollbar-track {
    background: transparent;
}

.faq-section .container::-webkit-scrollbar {
    width: 7px;
}

.faq-section .container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* END FREQUENTLY ASKED QUESTIONS */

/* footer  */

footer {
    grid-row: 4;
    background-color: #700000;
    color: var(--text-color);
    padding: 0 100px;
    font-weight: 100;
}

footer .footer-wrapper {
    padding: 40px 0;
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    font-size: 13.5px;
}

footer .footer-wrapper h3 {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
}

footer .footer-wrapper .contact-us p>i,
footer .footer-wrapper .service-hours p>i {
    margin-right: 8px;
}

footer .footer-wrapper .service-hours span {
    margin-top: 20px;
}

footer .footer-wrapper .contact-us footer .footer-wrapper .contact-us,
footer .footer-wrapper .quick-links a,
footer .footer-wrapper .service-hours {
    display: flex;
    flex-direction: column;
}

footer .footer-wrapper .quick-links a {
    text-decoration: none;
    color: var(--text-color);
}

.footer .footer-wrapper>* {
    flex: 1;
}

footer .footer-wrapper .quick-links {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
}

footer .footer-wrapper .quick-links h3 {
    grid-column: 1 / -1;
}

footer .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.462);
    padding: 25px 0;
    font-size: .8rem;
    text-align: center;
}


footer .footer-wrapper .contact-us p,
footer .footer-wrapper .service-hours p,
footer .footer-wrapper .quick-links a {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* end footer */

.dashboard-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

/* side navigation */

.sidenav {
    background-color: var(--primary-color);
    width: 250px;
    height: 100%;
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 11;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 22px;
    position: relative;
}

.header-nav::after {
    content: '';
    position: absolute;
    bottom: -17px;
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.599), rgba(255, 255, 255, 0));
}

.sidenav .header-nav img {
    width: 45px;
    height: 45px;
}

.sidenav .header-nav h1,
.sidenav .header-nav p {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.sidenav .header-nav h1 {
    font-size: .72rem;
}

.sidenav .header-nav p {
    font-size: .62rem;
}

.sidenav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
}

.sidenav ul li>a,
.sidenav ul li>.dropdown a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13.5px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9.5px 1.6rem;
    border-radius: 4px;
    font-weight: 300;
    text-transform: capitalize;
}

.sidenav ul li>a>i,
.sidenav ul li .dropdown i {
    font-size: 17px;
}

.sidenav ul li>a:hover,
.sidenav ul li>.dropdown a:hover {
    background-color: #ffffff14;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -40%;
    left: 95%;
    min-width: 200px;
    background-color: #b72626;
    clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 8% 100%, 0% 50%, 8% 0);
}

.dropdown-content a {
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-angle-right {
    font-size: 13px !important;
}

.profile {
    background-color: #b726267c;
    width: 100%;
    height: 80px;
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 1.1rem;
}

.profile .click-profile span,
.profile .view-profile-button {
    text-transform: capitalize;
    color: var(--text-color);
    font-size: .8rem;
    display: block;
    margin-left: 10px;
}

.profile .click-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logout-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .46rem;
    color: white;
    font-size: 21px;
}

.profile .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.136);
    border-radius: 50%;
    color: var(--text-color);
    text-decoration: none;
}

.sidenav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* end side navigation  */

/* dashboard overview */

.dashboard-overview {
    grid-column: 2 / -1;
    padding: 15px;
}

.dashboard-overview h1 {
    font-weight: 700;
    font-size: 2rem;
}

.overview-cards .card {
    min-width: 400px;
    height: 180px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card .card-content h1 {
    font-size: 1.3rem;
    font-weight: 400;
}

.card .card-content span {
    font-size: 2.5rem;
    font-weight: 800;
    display: block;
    margin-top: 10px;
}

.overview-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#fa-book-open-reader {
    color: blue;
}

#fa-user {
    color: red;
}

#fa-book-open {
    color: orangered;
}

#fa-book-open-reader,
#fa-user,
#fa-book-open {
    font-size: 16px;
    padding: .9rem;
    border-radius: 50%;
    background-color: rgba(206, 202, 202, 0.425);
}

/* end dashboard overview */

/* Loader */
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .loader_image {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader .loader_image .logo_back {
    height: 8rem;
    animation: loading 5s ease infinite;
    animation-duration: 5s;
    position: relative;
}

.loader .loader_image .logo_front {
    height: 8rem;
    position: absolute;
}

.loader .loader_text {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.loader .loader_text h3 {
    font-weight: bolder;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.card-header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header img {
    width: 8rem;
}

/* header */
.loader h3 {
    font-weight: bolder;
}

.loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .logo_back {
    height: 7rem;
    animation: loading 5s ease infinite;
    animation-duration: 5s;
}

.loader .logo_front {
    height: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.button_row{
    padding: 10px;
}

.btn-student {
    background-color: #0e9594;
    border-radius: 2rem;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
    height: 20rem;
    width: 20rem;
}

.btn-student:hover {
    background-color: #10adad;
    color: white;
}

.student_icon{
    width: 15rem;
}

.btn-faculty {
    background-color: #b62727;
    border-radius: 2rem;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
    height: 20rem;
    width: 20rem;
}

.btn-faculty:hover {
    background-color: #df3f3f;
    color: white;
}
.faculty_icon{
    width: 15rem;
}

.google_button {
    text-align: center
}


/* override from tables.scss */
.table td,
.table th,
.table thead th {
    vertical-align: middle;
}

.table td {
    font-size: .9rem;
}

/* override from tables.scss */

.management-header {
    background-image: linear-gradient(#FF9090, #FF0D0D);
    border-radius: 20px 20px 0 0;
    position: fixed;
    height: 70px;
    width: 82%;
}

.management-header h1 {
    margin: 10px 10px;
}

.management-header h1 i {
    color: #830001;
    border-radius: 50%;
    background-color: white;
}
.management-content {
    color: black;
    margin-left: 17%;
    width: 82%;
    height: 100%;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

.management-content h1 {
    padding: 1.1rem 0 0 10px;
}

.management-body {
    position: relative;
    width: 100%;
}

.content-center {
    color : black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Modal-Schedule {
    color: black;
    width: 82%;
    margin-top: 10px;
}

.book-details {
    color: black;
    margin-top: 10px;
    margin-left: 17%;
    width: 82%;
    height: 98%;
    position: fixed;
    background-color: white;
    border-radius: 20px;
}

.book-body {
    margin-top: 100px;
    margin-left: 10px;
}

.title-width {
    height: 30px;
    width: 500px;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

/*Book Create*/
.add-header {
    color: black;
    position: relative;
    /* height: 70px;*/
    /*width: 82%;*/
    margin: 20px 0px 0px 20px;
}

.add-body {
    color: black;
    position: relative;
    width: 100%;
    /* margin: 60px 10px;*/
}

#multi-step-form-container {
    margin-top: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}

.mt-3 {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
    margin: 0 2rem 0 2rem;
}

.font-normal {
    font-weight: normal;
}

.form-padding-top {
    padding-top: 10px;
    padding-bottom: 100px;
}

ul.form-stepper {
    counter-reset: section;
    /* margin-bottom: 3rem; */
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}

.formControlRoot {
    display: "flex";
    align-items: "center";
    gap: "8px";
    width: "300px";
    flex-wrap: "wrap";
    flex-direction: "row";
    border: '2px solid lightgray';
    padding: 4;
    border-radius: '4px';
}

.formControlRoot .container {
    gap: "6px";
    display: "flex";
    flex-direction: "row";
    flex-wrap: "wrap";
}

.formControlRoot .container span {
    background-color: "gray";
    padding: "1px 3px";
    border-radius: "4px";
}

.endterm {
    position: relative;
    left: 45%;
    margin-top: 30px;
}

.reason {
    font-weight: 900;
    color: red;
}

/* .accessionButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */


/* STUDENT EVALUATION  */


/* END STUDENT EVALUATION  */

/* history logs */

.wrapper-container {
    grid-column: 2 / -1;
}

.history-logs-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    max-height: 1000px;
    height: 620px;
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px;
}

.wrapper-container header {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    padding: 25px 20px;
    width: 100%;
}

.history-logs {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    font-size: .79rem;
    background-color: white;
    width: 100%;
    padding: .3rem 10px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.history-logs p {
    word-break: break-all;
}

.history-logs a {
    margin-left: 20px;
}

.history-logs a>i {
    color: rgba(255, 0, 0, 0.792);
    padding-right: 10px;
    font-size: 16px;
}

hr {
    margin: 0;
}

.history-logs-container .history-logs p {
    font-weight: 400;
}

.history-logs-container::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.history-logs-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

/* end history logs */

/* css elements from table */

.table-container {
    grid-column: 2 / -1;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-button h1,
.table-container h1 {
    margin-left: 45px;
    font-size: 2rem;
    padding: 30px 0;
}

.add-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    text-decoration: none;
    gap: 10px;
    color: white;
    font-size: 14.5px;
    padding: 12px 26px;
    border-radius: 25px;
    margin-right: 60px;
}

.add-button i {
    margin: 0;
}

.css-2ulfj5-MuiTypography-root > *{
    font-family: 'Inter', sans-serif !important;
}

table {
    background-color: #fff;
}

.custom-select {
    margin: 0 !important;
}

.pagination {
    float: right;
    font-size: .9rem;
}

.MuiPaper-root {
    margin: 30px auto;
}

.MuiTableCell-head {
    font-size: .9rem !important;

}

.MuiTableCell-body {
    font-size: .85rem !important;
}

.MuiTableRow-root {
    background-color: #fff !important;
}

/* end css elements from table */

.book-card {
    width: 500px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 60px auto;
    gap: 10px;
    border-radius: 10px;
}

.book-request-buttons {
    padding-top: 50px;
}

.borrowed-card {
    display: flex;
    
}

.eval-button-table {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}